{% extends 'base.html' %}

{% block page_heads %}
<title>Register</title>
{% endblock page_heads %}

{% block page_bodys %}
<form action="" method="post">
    {% csrf_token %}
    <div class="min-h-screen bg-zinc-700 text-white p-10 content-center">
        <div
            class="relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10">
            <div class="w-full">
                <div class="text-center">
                    <h1 class="text-3xl font-semibold text-gray-900">Sign up</h1>
                    <p class="mt-2 text-gray-500">Sign up below to create your account</p>
                </div>
                <div class="mt-5">
                    <form action="">

                        <div class="relative mt-6 text-black">
                            <input type="text" name="first_name" id="first_name" placeholder="First Name"
                                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                                value="{{ data.first_name }}" required />
                            <label for="first_name"
                                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">First
                                Name</label>
                        </div>
                        <div class="relative mt-6 text-black">
                            <input type="text" name="last_name" id="last_name" placeholder="Last Name"
                                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                                value="{{ data.last_name }}" required />
                            <label for="last_name"
                                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Last
                                Name</label>
                        </div>

                        <div class="relative mt-6 text-black">
                            <input type="email" name="email" id="email" placeholder="Email Address"
                                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                                value="{{ data.email }}" required />
                            <label for="email"
                                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Email
                                Address</label>
                        </div>
                        <div class="relative mt-6 text-black">
                            <input type="text" name="username" id="username" placeholder="Username"
                                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                                value="{{ data.username }}" required />
                            <label for="user_name"
                                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Username</label>
                        </div>
                        <span class="text-center text-red-500 hover:text-red-600" id="invalid-username" hidden>User
                            Already exists</span>
                        <div class="relative mt-6">
                            <input type="password" name="password" id="password1" placeholder="Password1"
                                class="peer peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none text-black"
                                value="{{ data.password }}" required />
                            <label for="password1"
                                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Password</label>
                        </div>
                        <div class="relative mt-6">
                            <input type="password" name="password2" id="password2" placeholder="Password2"
                                class="peer peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none text-black"
                                value="{{ data.password }}" required />
                            <label for="password2"
                                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Password</label>
                        </div>
                        <span class="text-center text-red-500 hover:text-red-600" id="incorrect-password"
                            hidden>Passwords dosen't match</span>
                        <span class="text-center text-red-500 hover:text-red-600" id="some-error" hidden>{{ error }}</span>
                        <div class="my-6">
                            <button type="submit"
                                class="w-full rounded-md bg-black px-3 py-4 text-white focus:bg-gray-600 focus:outline-none"
                                id="signup-btn">Sign up</button>
                        </div>
                        <p class="text-center text-sm text-gray-500">Already a user?
                            <a href="/login"
                                class="font-semibold text-gray-600 hover:underline focus:text-gray-800 focus:outline-none">Sign
                                in
                            </a>.
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>

</form>

<script>
    if ( !{{ hidden }} ) {
        document.getElementById("some-error").hidden = false;
    }
    else {
        document.getElementById("some-error").hidden = true;
    }

    document.getElementById("email").addEventListener('input', (event)=>{

        document.getElementById("some-error").hidden = true;
    });
    
    document.getElementById('username').addEventListener('input', (event)=>{
        document.getElementById("some-error").hidden = true;

    });

    password1 = document.getElementById('password1')
    password2 = document.getElementById('password2')
    incorrect_pass_warning = document.getElementById('incorrect-password')
    submit_btn = document.getElementById('signup-btn')


    password2.addEventListener('input', (event) => {
        if (password2.value != password1.value) {
            incorrect_pass_warning.hidden = false;
            password2.className = "peer peer mt-1 w-full border-b-2 border-red-900 px-0 py-1 placeholder:text-transparent focus:border-red-500 focus:outline-none text-black"
            submit_btn.disabled = true;
        }
        else {
            incorrect_pass_warning.hidden = true;
            password2.className = "peer peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none text-black"
            submit_btn.disabled = false;
        }
    })

    password1.addEventListener('input', (event) => {
        console.log(password2.value)
        if (password2.value != password1.value && password2.value != '') {
            incorrect_pass_warning.hidden = false;
            submit_btn.disabled = true;
            password2.className = "peer peer mt-1 w-full border-b-2 border-red-900 px-0 py-1 placeholder:text-transparent focus:border-red-500 focus:outline-none text-black"
        }
        else {
            incorrect_pass_warning.hidden = true;
            submit_btn.disabled = false;
            password2.className = "peer peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none text-black"
        }
    })

    async function hitAPIPOST(url, data) {
        let csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        const options = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify(data)
        }

        return await fetch(url, options).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        }).then(async (data) => {
            return data;
        })
            .catch(error => {

                console.error('Error:', error);
            });

    }

    username = document.getElementById('username')

    username.addEventListener('input', async (event) => {

        response = await hitAPIPOST('/userinfo/usernameExist', { username: username.value })
        if (response.exist) {
            document.getElementById('invalid-username').hidden = false;
            submit_btn.disabled = true;
        }
        else {
            document.getElementById('invalid-username').hidden = true;
            submit_btn.disabled = false;
        }
    })

</script>


{% endblock page_bodys %}