{% extends 'base.html' %}

{% block page_heads %}
    <title>Resume Details</title>
    <style>
        /* Optional: add some custom styling if needed */
        .card {
            background-color: rgba(255, 255, 255, 0.1);
            /* Lightly shaded background */
            backdrop-filter: blur(10px);
            /* Optional: blur effect for more card-like appearance */
        }
        </style>

{% endblock page_heads %}

{% block page_bodys %}
    
<div class="bg-zinc-700 font-sans flex items-center justify-center min-h-screen">
    <div class="card max-w-lg w-full p-6 rounded-lg shadow-lg">
        <h3 id="hd" class="text-3xl font-semibold mb-6 text-center text-gray-100">Resume Details</h3>
        
        <form id="form" class="space-y-6" action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <!-- Step 1 -->
            <div class="step">
                <label for="fName" class="block text-white">First Name*</label>
                <input type="text" name="fName" id="fName" maxlength="20" required
                    class="required border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />

                <label for="lName" class="block mt-4 text-white">Last Name*</label>
                <input type="text" name="lName" id="lName" maxlength="20" required
                    class="required border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
            </div>

            <!-- Step 2 -->
            <div class="step">
                <label for="email" class="block text-white">Email*</label>
                <input type="text" name="email" id="email" placeholder="abc123@xyz.com" required
                    class="required border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />

                <label for="phone" class="block mt-4 text-white">Phone no.*</label>
                <input type="tel" name="phone" id="phone" pattern="[0-9]{10}" maxlength="10" required
                    class="required border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />


                <label for="address" class="block mt-4 text-white">Address*</label>
                <div class="flex space-x-2">
                    <input type="text" name="address" id="address" placeholder="Address" required
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    <input type="text" name="state" id="state" placeholder="State" required
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                </div>
                <div class="flex space-x-2 mt-2">
                    <input type="text" name="zip" id="zip" placeholder="Zip Code" required
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                </div>
            </div>

            <!-- Step 3 -->
            <div class="step">
                <label for="image" class="block text-white">Insert your Image:</label>
                <input type="file" id="image" name="image" accept="image/*" 
                    class=" border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />

                <label for="textarea" class="block mt-4 text-white">Summary (max 300 characters):</label>
                <textarea id="textarea" cols="20" rows="5" name="summary" maxlength="300"
                    class="required border px-3 py-2 rounded w-full border-gray-300 text-gray-900"></textarea>
            </div>

            <!-- Step 4 -->
            <div class="step">
                <label for="education" class="block text-white">Education*</label>
                <div class="flex space-x-2">
                    <input type="text" name="eTitle1" id="eTitle1" placeholder="Title" required
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    <input type="text" name="eInstitute1" id="eInstitute1" placeholder="Institute" required
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                </div>
                <div class="flex space-x-2 mt-2">
                    <label for="ed1" class="block text-white">Duration*:</label>
                    <input type="date" name="esd1" id="esd1"
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    <input type="date" name="eed1" id="eed1"
                        class="required border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                </div>
                <!-- Optional education -->
                    <span class = "block mt-4 text-white">Optional</span>
                    <div class="flex space-x-2 mt-4">
                    <input type="text" name="eTitle2" id="eTitle2" placeholder="Title"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="eInstitute2" id="eInstitute2" placeholder="Institute"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    </div>
                        <div class="flex space-x-2 mt-2">
                        <label for="ed2" class="block text-white">Duration:</label>
                        <input type="date" name="esd2" id="esd2"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="date" name="eed2" id="eed2"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                
            </div>

            <!-- Step 5 -->
            <div class="step">
                <label for="skill" class="block text-white">Skills</label>
                <input type="text" name="skill1" id="skill1"  placeholder = "skill1*" required
                    class="required border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <div class="grid grid-cols-2 gap-4">
                        
                    <input type="text" name="skill2" id="skill2" placeholder = "skill2"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="skill3" id="skill3" placeholder = "skill3"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="skill4" id="skill4" placeholder = "skill4"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="skill5" id="skill5" placeholder = "skill5"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="skill6" id="skill6" placeholder = "skill6"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="skill7" id="skill7" placeholder = "skill7"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="skill8" id="skill8" placeholder = "skill8"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                </div>
            </div>

            <!-- Step 6 -->
            <div class="step">
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <label for="project" class="block text-white">Project</label>
                <div class="space-y-4">
                    <div class="flex space-x-2">
                        <input type="text" name="pName1" id="pName1" placeholder="Project 1 Name"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="url" name="pLink1" id="pLink1" placeholder="https://example.com"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                    <input type="text" name="pDescription1" id="pDescription1" placeholder="Description"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                        <div class="flex space-x-2 mt-2">
                            <label for="pro" class="block text-white">Duration:</label>
                            <input type="date" name="psd1" id="psd1"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="date" name="ped1" id="ped1"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                    
                    <div class="flex space-x-2">
                        <input type="text" name="pName2" id="pName2" placeholder="Project 2 Name"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="url" name="pLink2" id="pLink2" placeholder="https://example.com"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                    <input type="text" name="pDescription2" id="pDescription2" placeholder="Description"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                        <div class="flex space-x-2 mt-2">
                            <label for="pro2" class="block text-white">Duration:</label>
                            <input type="date" name="psd2" id="psd2"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="date" name="ped2" id="ped2"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                    <label for="miniProject" class="block mt-4 text-white">Mini Project</label>
                    <div class="space-y-4">
                        <div class="flex space-x-2">
                            <input type="text" name="mpName1" id="mpName1" placeholder="Mini Project Name 1"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="url" name="mpLink1" id="mpLink1" placeholder="https://example.com"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                        <div class="flex space-x-2 mt-2">
                            <label for="mpro" class="block text-white">Duration:</label>
                            <input type="date" name="mpsd1" id="mpsd1"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="date" name="mped1" id="mped1"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>

                        <div class="flex space-x-2">
                            <input type="text" name="mpName2" id="mpName2" placeholder="Mini Project Name 2"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="url" name="mpLink2" id="mpLink2" placeholder="https://example.com"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                        <div class="flex space-x-2 mt-2">
                            <label for="mpro2" class="block text-white">Duration:</label>
                            <input type="date" name="mpsd2" id="mpsd2"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="date" name="mped2" id="mped2"
                                class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Step 7 -->
            <div class="step">
                <label for="strength" class="block text-white">Strength</label>
                
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <div class="space-y-2">
                    <input type="text" name="strength1" id="strength1" placeholder="strength1"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="strength2" id="strength2" placeholder="strength2"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                    <input type="text" name="strength3" id="strength3" placeholder="strength3"
                        class="border px-3 py-2 rounded w-full border-gray-300 text-gray-900" />
                </div>
            </div>

            <!-- Step 8 -->
            <div class="step">
                <label for="certification" class="block text-white">Certification</label>
                
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <div class="space-y-4">
                    <div class="flex space-x-2">
                        <input type="text" name="cTitle1" id="cTitle1" placeholder="Title"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="text" name="cOrganisation1" id="cOrganisation1" placeholder="Organisation"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                    <div class="flex space-x-2 mt-4">
                        <label for="cd1" class="block text-white">Duration:</label>
                        <input type="date" name="csd1" id="csd1"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="date" name="ced1" id="ced1"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                    <div class="flex space-x-2 mt-4">
                        <input type="text" name="cTitle2" id="cTitle2" placeholder="Title"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="text" name="cOrganisation2" id="cOrganisation2" placeholder="Organisation"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                    <div class="flex space-x-2 mt-2">
                        <label for="cd2" class="block text-white">Duration:</label>
                        <input type="date" name="csd2" id="csd2"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        <input type="date" name="ced2" id="ced2"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                    </div>
                </div>
            </div>

            <!-- Step 9 -->
            <div class="step">
                <label for="experience" class="block text-white">Experience</label>
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <div class="space-y-4">
                    <div>
                        <input type="text" name="exTitle1" id="exTitle1" placeholder="Title/Job Role"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />

                            <input type="text" name="exOrganisation" id="exOrganisation" placeholder="Organisation"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900 mt-2" />

                            <input type="text" name="exDescription" id="exDescription" placeholder="Description"
                            class="border mt-2 px-3 py-2 rounded w-full border-gray-300 text-gray-900" />

                            <input type="text" name="location" placeholder="Location" class="border mt-2 px-3 py-2 rounded w-full border-gray-300 text-gray-900" />

                        <div class="dates">
                            <label for="exd1" class="block text-white">Duration:</label>
                            <input type="date" name="exsd1" id="exsd1"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="date" name="exed1" id="exed1"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                    </div>
                    <div class="mt-4">
                        <input type="text" name="exTitle2" id="exTitle2" placeholder="Title"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />

                            <input type="text" name="exOrganisation" id="exOrganisation" placeholder="Organisation"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900 mt-2" />

                            <input type="text" name="exDescription" id="exDescription" placeholder="Description"
                            class="border mt-2 px-3 py-2 rounded w-full border-gray-300 text-gray-900" />

                            <input type="text" name="location" placeholder="Location" class="border mt-2 px-3 py-2 rounded w-full border-gray-300 text-gray-900"/>
  
                        <div class="dates">
                            <label for="exd2" class="block text-white">Duration:</label>
                            <input type="date" name="exsd2" id="exsd2"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                            <input type="date" name="exed2" id="exed2"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Step 10-->
            <div class="step">  
                    <h1 class="text-white"> Choose Template*</h1>
                    
                    {% for template in resume_templates %}
                        <input type="radio" name="template" value="{{ template.template }}" class="required block text-white" />{{ forloop.counter }}. {{ template.template }}<br>
                        
                    {% endfor %}
                    
            </div>

            <!-- Step 11-->
            <div class="step"> 
                <label class="mr-2 " for="url" class="block text-white">Protfolio Link</label>
                
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <input class="rounded-sm border p-1 " type="url" name="portfolioLink" id="portfolioLink" placeholder="https://example.com"
                            class="border px-3 py-2 rounded flex-1 border-gray-300 text-gray-900" />
                </div>
            
            <!-- Step 12-->
            <div class="step"> 
                <label for="" class="block text-white">Social Media</label>
                
                <span class = "block mt-4 text-white mb-4">Optional</span>
                <input type="text" name="platformName1" placeholder="platform name (eg. Linkedin, Facebook, Github)" class="border px-3 py-2 mt-2 rounded flex-1 border-gray-300 text-gray-900"/>
                <input type="url" name="socialURL1" placeholder="https://example.com" class="border px-3 py-2 mt-2 rounded flex-1 border-gray-300 text-gray-900"/>
                <br>
                <input type="text" name="platformName2" class="border px-3 py-2 mt-2 rounded flex-1 border-gray-300 text-gray-900" placeholder="platform name (eg. Linkedin, Facebook, Github)"/>
                <input type="url" name="socialURL2" class="border px-3 py-2 mt-2 rounded flex-1 border-gray-300 text-gray-900" placeholder="https://example.com" />
                <br>
                <input type="text" name="platformName3" class="border px-3 py-2 mt-2 rounded flex-1 border-gray-300 text-gray-900" placeholder="platform name (eg. Linkedin, Facebook, Github)"/>
                <input type="url" name="socialURL3"class="border px-3 py-2 mt-2 rounded flex-1 border-gray-300 text-gray-900" placeholder="https://example.com"/>
            </div>

            <!-- Step 13-->
            <div class="step">
                <input type="checkbox" name="isGlobal" id="" />
                <span class="block text-white">Want to show it global ?</span>
            </div>

            <br />
            <!-- Buttons -->
            
            <div class="flex justify-between mt-6">
                <button type="button" id="previous"
                    class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 rounded-full">Previous</button>
                <button type="button" id="next"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 rounded-full">Next</button>
                <button type="submit" id="submit"
                    class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 rounded-full">Submit</button>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const steps = document.querySelectorAll('.step');
            const previousButton = document.getElementById('previous');
            const nextButton = document.getElementById('next');
            const submitButton = document.getElementById('submit');
            var currentStep = 0;

            submitButton.hidden = true;
            showDivs();

            function showNext() {
                if (!(steps.length - 1 <= currentStep)) {
                    currentStep++;
                }
                showDivs();
            }

            function showPrevious() {
                if (!(0 >= currentStep)) {
                    currentStep--;
                }
                showDivs();
            }

            async function showDivs() {
                if (currentStep == 0) {
                    previousButton.hidden = true;
                }
                else if (currentStep == steps.length - 1) {
                    nextButton.hidden = true;
                    submitButton.hidden = false;
                }
                else {
                    previousButton.hidden = false;
                    nextButton.hidden = false;
                    submitButton.hidden = true;
                }
                await hideall();

                steps[currentStep].hidden = false;
            }

            function hideall() {
                for (var i = 0; i < steps.length; i++) {
                    steps[i].hidden = true;
                }
            }

            nextButton.addEventListener('click', () => {

                let requiredInputs = steps[currentStep].querySelectorAll('.required');
                for (let i = 0; i < requiredInputs.length; i++) {
                    if (requiredInputs[i].value == '') {

                        alert('Please fill out all required fields.');
                        return;
                    }
                }

                showNext();
            });

            previousButton.addEventListener('click', () => {
                showPrevious();
            });
            // Handle Enter key press to prevent unwanted submission
            document.querySelectorAll('input, textarea').forEach(element => {
                element.addEventListener('keydown', function (event) {
                    if (event.key === 'Enter') {
                        event.preventDefault();
                    }
                })
            });

        });

    </script>


{% endblock page_bodys %}